*{
    padding:0%;
    text-decoration: none;
}
body{
    background-color:rgb(10, 1, 24);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    height: 10%;
    font-size: 170%;
    color: aliceblue;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    color: aliceblue;
    font-family: monospace;
    padding: 10%;
}

.quadrado1{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 200px;
    background-color: rgb(12, 201, 122);
    animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.255) alternate;
}
.square-to-circle{
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
    width: 200px;
    background-color: aqua;
    animation: square-to-circle 2s 1s infinite cubic-bezier(1,.015,.295,1.255) alternate;
}

@keyframes quadrado1{
    0%{
        transform:rotate(45deg);
        border-radius:0% ;
        background-color: darkseagreen;
        
    }
    25%{
        transform:rotate(90deg);
        border-radius: 50% 0 0 0 ;
        background-color: blueviolet;
    }
    50%{
        transform:rotate(135deg);
        border-radius: 50% 50% 0 0 ;
        background-color: darksalmon;
    }
    75%{
        transform:rotate(180deg);
        border-radius: 50% 50% 50% 0;
        background-color: greenyellow;
    }
    100%{
        transform:rotate(210deg);
        border-radius: 50%;
        background-color: lightcoral;
    }
}


@keyframes square-to-circle{
    0%{
        transform:rotate(45deg);
        border-radius:0% ;
        background-color: darkseagreen;
        
    }
    25%{
        transform:rotate(90deg);
        border-radius: 50% 0 0 0 ;
        background-color: blueviolet;
    }
    50%{
        transform:rotate(135deg);
        border-radius: 50% 50% 0 0 ;
        background-color: darksalmon;
    }
    75%{
        transform:rotate(180deg);
        border-radius: 50% 50% 50% 0;
        background-color: greenyellow;
    }
    100%{
        transform:rotate(210deg);
        border-radius: 50%;
        background-color: lightcoral;
    }
}
